<h1>Listing Stocks</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Ticker:</th>
      <th>Company:</th>
      <th>current price: </th>
      <th>Sector: </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
    <% if stock.user_id == current_user.id %>
      <%  @stock_quote = StockQuote::Stock.quote(stock.ticker) %>
      <%  if @stock_quote == nil %>
       <% @error = "that stock quote does not exist" %>
       <tr>
          <td><%= stock.ticker %></td>
          <td><%= "Error" %></td>
          <td><%= "N/A" %></td>
          <td><%= "N/A" %></td>
          <td><%= link_to 'Show', stock, class: "btn btn-default btn-xs" %></td>
          <td><%= link_to 'Edit', edit_stock_path(stock), class: "btn btn-primary btn-xs" %></td>
          <td><%= link_to 'Destroy', stock, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
       <% else %>
      <tr>
        <td><%= stock.ticker %></td>
        <td><%= @stock_quote.company_name %></td>
        <td><%= @stock_quote.close %></td>
        <td><%= @stock_quote.sector %></td>
        <td><%= link_to 'Show', stock, class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock), class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Destroy', stock, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
